<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Order</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        body { font-family: 'Times New Roman', Times, serif ; }
        @media print { .no-print { display:none; } }
        .fs-7 {
        font-size: 0.875rem; /* smaller than fs-6 (1rem) */
        }

    </style>
</head>
<body>
    <div name="header" class="text-center">
        <p class="fs-6">Republic of the Philippines <br>
        <strong class="text-success">DEPARTMENT OF ENVIRONMENT AND NATURAL RESOURCES</strong><br>
        <strong>PROVINCIAL ENVIRONMENT AND NATURAL RESOURCES OFFICE</strong><br>
        Government Center Brgy. Baras, Palo, Leyte <br>
        Telefax No. (053) 323-7485</p>
        <p class="text-end fs-6"><i>Appendix 71</i></p>


    </div>
    <div name="title" class="text-center">
      <h2><strong>TRAVEL ORDER</strong></h2>
    </div>
    <div name="content">
      <p class="fs-6"><strong>T.O. No.:   DENR PENRO LEYTE</strong></p>
      <p class="fs-6"><strong>Date:       DENR PENRO LEYTE</strong></p>
      <p class="fs-6"><strong>Name:      DENR PENRO LEYTE</strong></p>
      <p class="fs-6"><strong>Salary:     DENR PENRO LEYTE</strong></p>
      <p class="fs-6"><strong>Position:   DENR PENRO LEYTE</strong></p>
      <p class="fs-6"><strong>Office:     DENR PENRO LEYTE</strong></p>

      <p class="fs-6"><strong>TRAVEL DETAILS: </strong></p>
      <p class="fs-6"><strong>Destination:   DENR PENRO LEYTE</strong></p>
      <p class="fs-6"><strong>Departure:     DENR PENRO LEYTE</strong></p>
      <p class="fs-6"><strong>Arrival:       DENR PENRO LEYTE</strong></p>

      <p class="fs-6"><strong>PURPOSE:
               DENR PENRO LEYTE</strong></p>
        <div class="">


            <div>
                <div class="row">
                    <div class="col">
                        <p class="fs-6" >Recommended by:</p>
                        <br>
                        <p class="fs-6 text-center"><strong>(First Name MI, Last Name)</strong><br>
                        Signature over Printed Name of End User<br>
                        <strong>(position)</strong><br>
                        Position/Officer<br>
                        (Mon. Day, Year / Time HH:MM AM/PM)</p>
                    </div>
                    <div class="col">
                        <p class="fs-6">Approved By:</p>
                        <br>
                        <p class="fs-6 text-center"><strong>(First Name MI, Last Name)</strong><br>
                        Signature over Printed Name of End User<br>
                        <strong>(position)</strong><br>
                        Position/Officer<br>
                        (Mon. Day, Year / Time HH:MM AM/PM)</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div name="footer">

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>
